*.aux
*.bbl
*.blg
*.log
*.out
*.tmp
*-converted-to.pdf
*.dms
*.pyc
*build*
test/output/*
/.idea/*
.vscode/
# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
src/dist/
src/PyPDEVS.egg-info/
__pycache__/
assignment/test.py
assignment_output/